.head {
  width: 100%;
  height: 100vh;
  font-family: "Unbounded", sans-serif;
}

header {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.head_container {
  max-width: 85%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3vh;
}

.head_container img {
  width: 255px;
  height: 131px;
}

.head_container a {
  text-decoration: none;
  font-size: 26px;
  color: #000000;
  opacity: 0.77;
  font-weight: 300;
}

.a_about-us {
  padding: 5px;
  background: #000000;
  color: #fff;
}